@inherits LayoutComponentBase

<div class="layout">
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <main class="content">
        <header class="header">
            <h1>Knowledge Map</h1>
        </header>

        <section class="body">
            @Body
        </section>

        <footer class="footer">
            <p>&copy; 2026 - Universidad Knowledge Map</p>
        </footer>
    </main>
</div>