<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="">
            Innovación Curricular
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">

    <nav class="nav flex-column pt-3">

        <div class="px-3 text-white-50 small text-uppercase mt-2 mb-1">
            Institucional
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="universidades">
                <span class="bi bi-building"></span> Universidades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="facultades">
                <span class="bi bi-building-fill"></span> Facultades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programas">
                <span class="bi bi-journal-bookmark"></span> Programas
            </NavLink>
        </div>

        <div class="px-3 text-white-50 small text-uppercase mt-3 mb-1">
            Catálogos Curriculares
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="areaconocimiento">
                <span class="bi bi-book"></span> Áreas de Conocimiento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aspectosnormativos">
                <span class="bi bi-file-earmark-text"></span> Aspectos Normativos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carinnovaciones">
                <span class="bi bi-lightbulb"></span> Características de Innovación
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="practicasestrategias">
                <span class="bi bi-gear"></span> Prácticas / Estrategias
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="enfoques">
                <span class="bi bi-diagram-3"></span> Enfoques
            </NavLink>
        </div>

        <div class="px-3 text-white-50 small text-uppercase mt-3 mb-1">
            Gestión Académica
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registro-calificado">
                <span class="bi bi-file-earmark-text"></span> Registro Calificado
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="activAcademica">
                <span class="bi bi-journal"></span> Actividad Académica
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="acreditacion">
                <span class="bi bi-award"></span> Acreditación
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pasantias">
                <span class="bi bi-briefcase"></span> Pasantías
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="premios">
                <span class="bi bi-trophy"></span> Premios
            </NavLink>
        </div>

        <div class="px-3 text-white-50 small text-uppercase mt-3 mb-1">
            Actores Externos y Docentes
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aliados">
                <span class="bi bi-people"></span> Aliados
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="docentes">
                <span class="bi bi-person-badge"></span> Docentes
            </NavLink>
        </div>

        <div class="px-3 text-white-50 small text-uppercase mt-3 mb-1">
            Relaciones
        </div>

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="programaac">
                <span class="bi bi-link-45deg"></span> Programa - Área
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programaci">
                <span class="bi bi-link-45deg"></span> Programa - Innovación
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programape">
                <span class="bi bi-link-45deg"></span> Programa - Prácticas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="enfoque-rc">
                <span class="bi bi-link-45deg"></span> Enfoque - Registro Calificado
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aa-rc">
                <span class="bi bi-link-45deg"></span> Actividad Académica - Registro
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alianzas">
                <span class="bi bi-link-45deg"></span> Alianzas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="docente-departamento">
                <span class="bi bi-person-lines-fill"></span> Docente - Programa
            </NavLink>
        </div>

        <div class="px-3 text-white-50 small text-uppercase mt-3 mb-1">
            Maestro - Detalle
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programa-areas">
                <span class="bi bi-diagram-3-fill"></span> Programa - Áreas
            </NavLink>
        </div>

    </nav>
</div>