@using Microsoft.AspNetCore.Components.Authorization
@using FrontendBlazor_Aplicaciones_y_Servicios_Web.Services.Auth
@inject AuthService AuthService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav

<div class="top-row navbar navbar-dark">
    <a class="navbar-brand" href="">Sistema</a>
</div>

<AuthorizeView>
    <Authorized Context="auth">

        <div class="px-3 text-white">
            👤 @auth.User.Identity?.Name
        </div>

        @if (auth.User.IsInRole("Admin"))
        {
            <NavLink href="usuarios">Usuarios</NavLink>
            <NavLink href="roles">Roles</NavLink>
        }

        <NavLink href="universidades">Universidades</NavLink>
        <NavLink href="programas">Programas</NavLink>

        <button class="btn btn-danger mt-3"
                @onclick="Logout">
            Logout
        </button>

    </Authorized>

    <NotAuthorized>
        <NavLink href="login">Login</NavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync();

        if (AuthStateProvider is CustomAuthStateProvider custom)
            custom.NotifyAuthChanged();

        Nav.NavigateTo("/login", forceLoad: true);
    }
}