<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Pagina principal</NavLink></li>
        <li><NavLink href="aspectos" Match="NavLinkMatch.All">Aspectos Normativos</NavLink></li>
        <li><NavLink href="innovacion">Características de Innovación</NavLink></li>
        <li><NavLink href="enfoques">Enfoques</NavLink></li>
        <li><NavLink href="estrategias">Prácticas y Estrategias</NavLink></li>
        <li><NavLink href="universidades">Universidades</NavLink></li>
    </ul>
</nav>