@page "/programas/create"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Forms
@using FrontendBlazor_Aplicaciones_y_Servicios_Web.Modelos

@inject ProgramaService programaService
@inject FacultadService facultadService
@inject NavigationManager nav

<h3>Crear Programa</h3>

<EditForm Model="programa" OnValidSubmit="Guardar">

    <InputText @bind-Value="programa.Nombre" placeholder="Nombre" />
    <InputText @bind-Value="programa.Tipo" placeholder="Tipo" />
    <InputText @bind-Value="programa.Nivel" placeholder="Nivel" />
    <InputText @bind-Value="programa.FechaCreacion" placeholder="Fecha creación" />
    <InputText @bind-Value="programa.FechaCierre" placeholder="Fecha cierre" />
    <InputText @bind-Value="programa.NumeroCohortes" placeholder="Cohortes" />
    <InputText @bind-Value="programa.CantGraduados" placeholder="Graduados" />
    <InputText @bind-Value="programa.FechaActualizacion" placeholder="Actualización" />
    <InputText @bind-Value="programa.Ciudad" placeholder="Ciudad" />

    <!-- 🔥 FK -->
    <InputSelect @bind-Value="programa.Facultad">
        <option value="">Seleccione Facultad</option>
        @foreach (var f in facultades)
        {
            <option value="@f.Id">@f.Nombre</option>
        }
    </InputSelect>

    <button type="submit">Guardar</button>

</EditForm>

@code {
    private Programa programa = new();
    private List<Facultad> facultades = new();

    protected override async Task OnInitializedAsync()
    {
        facultades = await facultadService.GetAll();
    }

    private async Task Guardar()
    {
        await programaService.Create(programa);
        nav.NavigateTo("/programas");
    }
}