@page "/programas/edit/{id:int}"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Forms
@using FrontendBlazor_Aplicaciones_y_Servicios_Web.Modelos

@inject ProgramaService programaService
@inject FacultadService facultadService
@inject NavigationManager nav

<h3>Editar Programa</h3>

@if (programa == null)
{
    <p>Cargando...</p>
}
else
{
    <EditForm Model="programa" OnValidSubmit="Guardar">

        <InputText @bind-Value="programa.Nombre" />
        <InputText @bind-Value="programa.Tipo" />
        <InputText @bind-Value="programa.Nivel" />
        <InputText @bind-Value="programa.FechaCreacion" />
        <InputText @bind-Value="programa.FechaCierre" />
        <InputText @bind-Value="programa.NumeroCohortes" />
        <InputText @bind-Value="programa.CantGraduados" />
        <InputText @bind-Value="programa.FechaActualizacion" />
        <InputText @bind-Value="programa.Ciudad" />

        <InputSelect @bind-Value="programa.Facultad">
            @foreach (var f in facultades)
            {
                <option value="@f.Id">@f.Nombre</option>
            }
        </InputSelect>

        <button type="submit">Guardar</button>

    </EditForm>
}

@code {
    [Parameter] public int id { get; set; }

    private Programa? programa;
    private List<Facultad> facultades = new();

    protected override async Task OnInitializedAsync()
    {
        facultades = await facultadService.GetAll();
        programa = await programaService.GetById(id);
    }

    private async Task Guardar()
    {
        await programaService.Update(id, programa!);
        nav.NavigateTo("/programas");
    }
}