@page "/facultades/create"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Forms
@using FrontendBlazor_Aplicaciones_y_Servicios_Web.Modelos

@inject FacultadService facultadService
@inject UniversidadService universidadService
@inject NavigationManager nav

<h3>Crear Facultad</h3>

<EditForm Model="facultad" OnValidSubmit="Guardar">

    <InputText @bind-Value="facultad.Nombre" placeholder="Nombre" />
    <InputText @bind-Value="facultad.Tipo" placeholder="Tipo" />
    <InputDate @bind-Value="facultad.FechaFun" />

    <InputSelect @bind-Value="facultad.Universidad">
        <option value="">Seleccione una universidad</option>

        @foreach (var u in universidades)
        {
            <option value="@u.Id">@u.Nombre</option>
        }
    </InputSelect>

    <button type="submit">Guardar</button>

</EditForm>

@code {
    private Facultad facultad = new();
    private List<Universidad> universidades = new();

    protected override async Task OnInitializedAsync()
    {
        universidades = await universidadService.GetAll();
    }

    private async Task Guardar()
    {
        await facultadService.Create(facultad);
        nav.NavigateTo("/facultades");
    }
}